.container {
  display: flex;
  justify-content: center;
}
.label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}
.input {
  font-size: 18px;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  border: 1px #ffffff solid;
  background-color: transparent;
}
.error {
  color: red;
}
.form {
  border-radius: 8px;
  padding: 20px;
  border: 1px #ffffff solid;
}

.labelWrapper {
  position: relative;
}
.eyeBtn {
  position: absolute;
  right: 15px;
  top: 36px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
}

.eyeBtn:hover,
.eyeBtn:focus {
  border: 1px solid transparent;
}
